<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="ie=edge" http-equiv="X-UA-Compatible">
    <title>xdubuy</title>
    <!-- 网站说明 -->
    <meta content="xdubuy-Focusing on building a mall of good quatity for xduer"
          name="description"/>
    <!-- 关键字 -->
    <meta content="Snacks, stationery, daily necessities" name="keywords"/>

    <!-- 引入favicon图标 -->
    <link href="favicon.ico" rel="shortcut icon"/>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/jquery@2.1.4/dist/jquery.min.js"></script>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/js/bootstrap.min.js"></script>
    <!-- 引入我们初始化样式文件 -->
    <link href="css/base.css" rel="stylesheet">
    <!-- 引入我们公共的样式文件 -->
    <link href="css/common.css" rel="stylesheet">
    <!-- 引入我们index.css文件  -->
    <link href="css/index.css" rel="stylesheet">
    <style>
        @font-face {
            font-family: 'iconfont';
            src: url('icon/iconfont.eot');
            src: url('icon/iconfont.eot?#iefix') format('embedded-opentype'),
            url('icon/iconfont.woff2') format('woff2'),
            url('icon/iconfont.woff') format('woff'),
            url('icon/iconfont.ttf') format('truetype'),
            url('icon/iconfont.svg#iconfont') format('svg');
        }

        .iconfont {
            margin-left: 5px;
            font-family: "iconfont", sans-serif !important;
            font-size: 30px;
            font-style: normal;
            -webkit-font-smoothing: antialiased;
            -moz-osx-font-smoothing: grayscale;
            background-color: #fff;
        }


    </style>
</head>
<script type="text/javascript">
    $(function () {
        $.ajax({
            type: "get",
            url: "/home",
            async: false,
            data: {},
            dataType: 'json',
            success: function (data) {
                console.log(data);
            }
        });
    });
    $('#myModal').on('shown.bs.modal', function () {
        $('#myInput').focus()
    });

    //this js中指当前对象
    function add_shoppingcar(btn) {
        var a = btn.parentNode.parentNode;
        var divs = a.getElementsByTagName("div");
        var name = divs[0].innerHTML;
        console.log(name);
        var spans = divs[1].getElementsByTagName("span")
        var price = spans[0].innerHTML;
        console.log(price);
        var tbody = document.getElementById("goods");
        console.log(tbody);
        var row = tbody.insertRow();//insertRow表格开头插入新行
        row.innerHTML = "<td>" + name + "</td>" +
            "<td>" + price + "</td>" +
            "<td align='center'>" +
            "<input type='button' value='-' id='jian'  onclick='change(this,-1)'  />" +
            "<input id='text' type='text' size='1' value='1' readonly='readonly' />" +
            "<input type='button' value='+' id='add'  onclick='change(this,1)'  />" +
            "</td>" +
            "<td>" + price + "</td>" +
            "<td align='center'>" +
            "<input type='button' value='X' onclick='del(this)'/>" +
            "</td>" +
            "</tr>"
        total();
    }

    //增加减少数量，用n正负1来表示点击了加减按钮
    function change(btn, n) {
        //获取数量的三个input对象
        let inputs = btn.parentNode.getElementsByTagName("input");
        //获取原来的数量
        let amount = parseInt(inputs[1].value);
        //当amount=1时不能再点击"-"符号
        //用n<0来表示点击了减button
        if (amount <= 1 && n < 0) {
            return;
        }
        //根据加减来改变数量
        inputs[1].value = amount + n;
        //将改变后的数量值赋值给amount
        amount = inputs[1].value;
        //获取表格中的行
        let tr = btn.parentNode.parentNode;
        //获取所有的列
        let tds = tr.getElementsByTagName("td");
        //获取单价
        let price = parseFloat(tds[1].innerHTML);
        //总价=单价*数量
        //将总价赋值给相应的位置
        tds[3].innerHTML = price * amount;
        //调用total方法，求总计
        total();
    }


    function total() {
        let tbody = document.getElementById("goods");
        let trs = tbody.getElementsByTagName("tr");
        let sum = 0;
        for (let i = 0; i < trs.length; i++) {
            let tds = trs[i].getElementsByTagName("td");
            let m = tds[3].innerHTML;
            sum += parseFloat(m);
        }
        let total = document.getElementById("total");
        total.innerHTML = sum.toString();
    }

    function del(i) {
        let tr = i.parentNode.parentNode;
        tr.parentNode.removeChild(tr);
        //tr.remove(tr);
        total();
    }
</script>
<body>

<!-- 欢迎您界面 -->
<div class="hello w">
    <div class="hello_user">
        <p>welcome to xdbuy!Dear :</p>
        <p>&nbsp;</p>
        <p th:text="${user.name}">username</p>
    </div>
</div>
<div class="col-md-2">
    <button class='shopping_cart' data-target="#myModal" data-toggle="modal">                   <!--跳转到购物车-->
        <span class="iconfont">&#xe630;</span>
        <p class="into_cart_info">click into shopping cart</p>
    </button>
    <!-- Modal  添加商品表单-->
    <div aria-labelledby="myModalLabel" class="modal fade" id="myModal" role="dialog" tabindex="-1">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button aria-label="Close" class="close" data-dismiss="modal" type="button"><span
                            aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">add goods</h4>
                </div>
                <div class="modal-body">
                    <table class="table table-hover ">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <thead class="modal-header">
                                <tr>
                                    <th>goods</th>
                                    <th>price</th>
                                    <th>number</th>
                                    <th>sum</th>
                                    <th>delete</th>
                                </tr>
                                </thead>
                                <tbody class="modal-body" id="goods">
                                </tbody>
                                <tfoot>
                                <tr>
                                    <td colspan="3" style="text-align:center">total</td>
                                    <td id="total"></td>
                                    <td>RMB</td>
                                </tr>
                                </tfoot>
                            </div>
                        </div>
                    </table>
                </div>

                <div class="modal-footer">
                    <button class="btn btn-default" data-dismiss="modal" type="button">Close</button>
                    <button class="btn btn-primary" type="button">Save changes</button>
                </div>
            </div>
        </div>
    </div>

    <!-- </header> -->
</div>
<!--     <div  border="1" class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <table class="table table-hover ">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <thead class="modal-header">
                <tr>
                <th>goods</th>
                <th >price</th>
                <th>number</th>
                <th>sum</th>
                <th>delete</th>
                </tr>
            </thead>
            <tbody id="goods" class="modal-body">
            </tbody>
            <tfoot>
                <tr>
                    <td colspan="3" align="center" >total</td>
                    <td id="total"></td>
                    <td>RMB</td>
                </tr>
            </tfoot>
                </div>
            </div>
    </table>
    </div> -->
<!-- 快捷导航模块 start -->
<!-- <section class="shortcut"> -->
<!-- <div class="w"> -->
<!-- <div class="fl"> -->
<!-- <ul> -->
<!-- <li>welcome to xdubuy！&nbsp;</li> -->
<!-- <li> -->
<!-- <p class="suibian">welcome!</p>           其中class随便放在了common.css文件最后面        -->
<!-- <a href="#">please log in!</a> &nbsp; <a href="register.html" class="style_red">Free registration</a> -->
<!-- </li> -->
<!-- </ul> -->
<!-- </div> -->
<!-- <div class="fr"> -->
<!-- <ul> -->
<!-- <li>my order</li> -->
<!-- <li></li> -->
<!-- <li class="arrow-icon">my xdubuy</li> -->
<!-- <li></li> -->
<!-- <li>xdubuy vip</li> -->
<!-- <li></li> -->
<!-- <li>Enterprise procurement</li> -->
<!-- <li></li> -->
<!-- <li class="arrow-icon">follow us</li> -->
<!-- <li></li> -->
<!-- <li class="arrow-icon">Customer service</li> -->
<!-- </ul> -->
<!-- </div> -->
<!-- </div> -->
<!-- </section> -->
<!-- 快捷导航模块 end -->
<!-- header头部模块制作 start -->
<!-- <header class="header w"> -->
<!-- logo模块 -->
<!-- <div class="logo"> -->
<!-- <h1> -->
<!-- <a href="index.html" title="xdubuy">xdubuy</a> -->
<!-- </h1> -->
<!-- </div> -->
<!-- search搜索模块 -->
<!-- <div class="search"> -->
<!-- <input type="search" name="" id="" placeholder="pen"> -->
<!-- <button>search</button> -->
<!-- </div> -->
<!-- hotwords模块制作 -->
<!-- <div class="hotwords"> -->
<!-- <a href="#" class="style_red">sale</a> -->
<!-- <a href="#">10% off</a> -->
<!-- <a href="#">9.9RMB</a> -->
<!-- <a href="#">book</a> -->
<!-- <a href="#">office</a> -->
<!-- <a href="#">Lays' monopoly</a> -->
<!-- <a href="#">desktop</a> -->
<!-- </div> -->
<!-- 购物车模块 -->
<!-- <div class="shopcar"> -->
<!-- shopping cart -->
<!-- <i class="count">0</i> -->
<!-- </div> -->
<!-- </header> -->
<!-- header头部模块制作 end -->
<!-- nav模块制作 start -->
<!-- <nav class="nav"> -->
<!-- <div class="w"> -->
<!-- <div class="dropdown"> -->
<!-- <div class="dt">Classification of all goods</div> -->
<!-- <div class="dd"> -->
<!-- <ul> -->
<!-- <li><a href="#">Household appliances</a> </li> -->
<!-- <li><a href="list.html">phone</a>、<a href="#">Digital</a> -->
<!-- <li><a href="#">Computer、Work</a> </li> -->
<!-- <li><a href="#">Furniture、Home decoration</a> </li> -->
<!-- <li><a href="#">Men's、Women's underwear</a> </li> -->
<!-- <li><a href="#">Cleaning products、pets</a> </li> -->
<!-- <li><a href="#">Shoes、Bags、Jewelry</a> </li> -->
<!-- <li><a href="#">Outdoor sports、Clocks</a> </li> -->
<!-- <li><a href="#">Automobile、Car-accessory</a> </li> -->
<!-- <li><a href="#">Mother-to-Child、Toys</a> </li> -->
<!-- <li><a href="#">Food、Liquors、Fresh</a> </li> -->
<!-- <li><a href="#">Medicine</a> </li> -->
<!-- <li><a href="#">Books、Audio、E-books</a> </li> -->
<!-- <li><a href="#">Lottery、Travel、Recharge</a> </li> -->
<!-- <li><a href="#">Financial、Crowdfunding</a> </li> -->
<!--  -->
<!-- </ul> -->
<!-- </div> -->
<!-- </div> -->
<!-- <div class="navitems"> -->
<!-- <ul> -->
<!-- <li><a href="#">Clothing</a></li> -->
<!-- <li><a href="#">Bags</a></li> -->
<!-- <li><a href="#">Phone</a></li> -->
<!-- <li><a href="#">food</a></li> -->
<!-- <li><a href="#">Exercise</a></li> -->
<!-- <li><a href="#">Men</a></li> -->
<!-- <li><a href="#">Women</a></li> -->
<!-- <li><a href="#">Children</a></li> -->
<!-- </ul> -->
<!-- </div> -->
<!-- </div> -->
<!-- </nav> -->
<!-- nav模块制作 end -->
<!-- 首页专有的模块 main  start -->
<!-- <div class="w"> -->
<!-- <div class="main"> -->
<!-- <div class="focus"> -->
<!-- <ul> -->
<!-- <li> -->
<!-- <img src="upload/focus1.jpg" alt="" width="721px" height="455px"> -->
<!-- </li> -->
<!-- </ul> -->
<!-- </div> -->
<!-- <div class="newsflash"> -->
<!-- <div class="news"> -->
<!-- <div class="news-hd"> -->
<!-- <h5>bulletin</h5> -->
<!-- <a href="#" class="more">more</a> -->
<!-- </div> -->
<!-- <div class="news-bd"> -->
<!-- <ul> -->
<!-- <li><a href="#">parker for only 10 dollors！！！</a></li> -->
<!-- <li><a href="#">Lay's for only 0.49 dollors per bag</a></li> -->
<!-- <li><a href="#">Five bottles of Coke cost only $1</a></li> -->
<!-- <li><a href="#">Logi Mouse starts at 49 yuan</a></li> -->
<!-- <li><a href="#">Flash sale of Bluetooth headsets</a></li> -->
<!-- </ul> -->
<!-- </div> -->
<!-- </div> -->
<!-- <div class="lifeservice"> -->
<!-- <ul> -->
<!-- <li> -->
<!-- <i class="icon1"></i> -->
<!-- <p>Phone bill</p> -->
<!-- </li> -->
<!-- <li> -->
<!-- <i class="icon2"></i> -->
<!-- <p>travelling</p> -->
<!-- </li> -->
<!-- <li> -->
<!-- <i class="icon3"></i> -->
<!-- <p>movies</p> -->
<!-- </li> -->
<!-- <li> -->
<!-- <i class="icon4"></i> -->
<!-- <p>games</p> -->
<!-- </li> -->
<!-- <li> -->
<!-- <i class="icon5"></i> -->
<!-- <p>lottery</p> -->
<!-- </li> -->
<!-- <li> -->
<!-- <i class="icon6"></i> -->
<!-- <p>gas</p> -->
<!-- </li> -->
<!-- <li> -->
<!-- <i class="icon7"></i> -->
<!-- <p>house</p> -->
<!-- </li> -->
<!-- <li> -->
<!-- <i class="icon8"></i> -->
<!-- <p>train</p> -->
<!-- </li> -->
<!-- <li> -->
<!-- <i class="icon9"></i> -->
<!-- <p>investment</p> -->
<!-- </li> -->
<!-- <li> -->
<!-- <i class="icon10"></i> -->
<!-- <p>financial</p> -->
<!-- </li> -->
<!-- <li> -->
<!-- <i class="icon11"></i> -->
<!-- <p>credit card</p> -->
<!-- </li> -->
<!-- <li> -->
<!-- <i class="icon12"></i> -->
<!-- <p>ious</p> -->
<!-- </li> -->
<!-- </ul> -->
<!-- </div> -->
<!-- <div class="bargain"> -->
<!-- <img src="upload/bargain.png" alt="" width="250px" height="75px"> -->
<!-- </div> -->
<!-- </div> -->
<!-- </div> -->
<!-- </div> -->
<!-- 首页专有的模块 main  end -->
<!-- 推荐模块 start -->
<div class="w recom">
    <div class="recom_hd">
        <img alt="" height="163px" src="images/recom.jpg" width="205px">
    </div>
    <div class="recom_bd">
        <ul>
            <li><img alt="" height="163px" src="upload/recom_03.jpg" width="205px"></li>
            <li><img alt="" height="163px" src="upload/recom_03.jpg" width="205px"></li>
            <li><img alt="" height="163px" src="upload/recom_03.jpg" width="205px"></li>
            <li><img alt="" height="163px" src="upload/recom_03.jpg" width="205px"></li>
        </ul>
    </div>
</div>
<!-- 推荐模块 end-->                             <!--一直到364行-->
<!-- 楼层区域制作start -->
<!-- <div class="floor"> -->
<!-- 1楼domestic appliances 楼层 -->
<!-- <div class="w jiadian"> -->
<!-- <div class="box_hd"> -->
<!-- <h3>domestic appliances </h3> -->
<!-- <div class="tab_list"> -->
<!-- <ul> -->
<!-- <li> <a href="#" class="style_red">Hot</a>|</li> -->
<!-- <li><a href="#">Big appliances</a>|</li> -->
<!-- <li><a href="#">Household appliances</a>|</li> -->
<!-- <li><a href="#">Kitchen appliances</a>|</li> -->
<!-- <li><a href="#">Household appliances</a>|</li> -->
<!-- </ul> -->
<!-- </div> -->
<!-- </div> -->
<!-- <div class="box_bd"> -->
<!-- <div class="tab_content"> -->
<!-- <div class="tab_list_item"> -->
<!-- <div class="col_210"> -->
<!-- <ul> -->
<!-- <li class="welcome_list1">welcome~</li> -->
<!-- <li class="welcome_list2">welcome~</li> -->
<!-- <li class="welcome_list3">welcome~</li> -->
<!-- <li class="welcome_list4">welcome~</li> -->
<!-- <li class="welcome_list5">welcome~</li> -->
<!-- <li class="welcome_list6">welcome~</li> -->
<!-- </ul> -->
<!-- <a href="#TV"> -->
<!-- <img src="upload/floor-1-1-111.png" alt="" > -->
<!-- </a> -->
<!-- </div> -->
<!-- <div class="col_329"> -->
<!-- <a href="#kettle"> -->
<!-- <img src="upload/floor-1-b01.png" alt="" width="329px" height="360px"> -->
<!-- </a> -->
<!-- </div> -->
<!-- <div class="col_221"> -->
<!-- <a href="#microwave oven" class="bb"> <img src="upload/floor-1-2.png" alt="" width="219px" height="180px"></a> -->
<!-- <a href="#TV"> <img src="upload/floor-1-3.png" alt=""></a> -->
<!-- </div> -->
<!-- <div class="col_221"> -->
<!-- <a href="#TV"> <img src="upload/floor-1-4.png" alt=""></a> -->
<!-- </div> -->
<!-- <div class="col_219"> -->
<!-- <a href="#refreshing summer" class="bb"> <img src="upload/floor-1-5.png" alt=""></a> -->
<!-- <a href="#refreshing summer"> <img src="upload/floor-1-6.png" alt=""></a> -->
<!-- </div> -->
<!-- </div> -->
<!-- </div> -->
<!-- </div> -->
<!-- </div> -->
<!-- 2楼手机楼层 -->
<!-- <div class="w shouji"> -->
<!-- <div class="box_hd"> -->
<!-- <h3>Mobile communication</h3> -->
<!-- <div class="tab_list"> -->
<!-- <ul> -->
<!-- <li> <a href="#" class="style_red">Hot</a>|</li> -->
<!-- <li><a href="#">smart phone </a>|</li> -->
<!-- <li><a href="#">Elderly mobile phones </a>|</li> -->
<!-- <li><a href="#">play station</a>|</li> -->
<!-- <li><a href="#">x-box</a>|</li> -->
<!-- </ul> -->
<!-- </div> -->
<!-- </div> -->
<!-- <div class="box_bd"> -->
<!-- <div class="tab_content"> -->
<!-- <div class="tab_list_item"> -->
<!-- <div class="col_210"> -->
<!-- <ul> -->
<!-- <li class="welcome_list1">welcome~</li> -->
<!-- <li class="welcome_list2">welcome~</li> -->
<!-- <li class="welcome_list3">welcome~</li> -->
<!-- <li class="welcome_list4">welcome~</li> -->
<!-- <li class="welcome_list5">welcome~</li> -->
<!-- <li class="welcome_list6">welcome~</li> -->
<!-- </ul> -->
<!-- <a href="#TV"> -->
<!-- <img src="upload/floor-1-1-111.png" alt=""> -->
<!-- </a> -->
<!-- </div> -->
<!-- <div class="col_329"> -->
<!-- <a href="#PCgames"> -->
<!-- <img src="upload/floor-1-b01-1.png" alt="" width="329px" height="360px"> -->
<!-- </a> -->
<!-- </div> -->
<!-- <div class="col_221"> -->
<!-- <a href="#smartphone" class="bb"> <img src="upload/floor-1-2-1.png" alt="" width="219px" height="180px"></a> -->
<!-- <a href="#smartphone"> <img src="upload/floor-1-3-1.png" alt="" width="219px" height="178px"></a> -->
<!-- </div> -->
<!-- <div class="col_221"> -->
<!-- <a href="#camera"> <img src="upload/floor-1-4-1.png" alt="" width="220px" height="359px"></a> -->
<!--  -->
<!-- </div> -->
<!-- <div class="col_219"> -->
<!-- <a href="#PCgames" class="bb"> <img src="upload/floor-1-5-1.png" alt="" width="219px" height="181px"></a> -->
<!-- <a href="#PCgames"> <img src="upload/floor-1-6-1.png" alt="" width="219px" height="178px"></a> -->
<!-- </div> -->
<!-- </div> -->
<!-- </div> -->
<!-- </div> -->
<!-- </div> -->
<!-- </div>  -->
<!-- 楼层区域制作end -->
<!-- 商品模块的css全部在index.css中 -->
<div th:each="seller:${sellers}">
    <h1 style="text-align:center" th:text="${seller.name}">xxx</h1>
    <h2 style="text-align:center"> shop</h2>
    <div th:each="kind:${seller.kinds}">
        <div class="snav w">
            <h3 th:text="${kind.name}">computer</h3>
        </div>
        <ul class="all_goods w">
            <li class="goods" th:each="item:${kind.items}">
                <a class="item-a" href="#">
                    <img alt="" height="198px" src="favicon.png" width="194px">
                    <div class="item_title" th:text="${item.item_title}"> a good goods a good goods</div>
                    <div class="item_price"><span class="price_css" th:text="${item.price}">9999</span><span>RMB</span>
                    </div>
                    <div class="seller_info"><span th:text="${item.seller_info}">xdubuy_office</span></div>
                    <div class="item_footer">
                        <button class="cart_button" onclick="add_shoppingcar(this)"><span
                                class="iconfont">&#xe630;</span>click add to shopping cart
                        </button>
                    </div>
                </a>
            </li>
        </ul>
    </div>
</div>

<!-- 底部模块的制作 start -->
<footer class="footer">
    <div class="w">
        <!-- <div class="mod_service"> -->
        <!-- <ul> -->
        <!-- <li> -->
        <!-- <h5></h5> -->
        <!-- <div class="service_txt"> -->
        <!-- <h4>Products guarantee</h4> -->
        <!-- <p>Products guarantee,Invoice supply</p> -->
        <!-- </div> -->
        <!-- </li> -->
        <!-- <li> -->
        <!-- <h5></h5> -->
        <!-- <div class="service_txt"> -->
        <!-- <h4>Products guarantee</h4> -->
        <!-- <p>Products guarantee,Invoice supply</p> -->
        <!-- </div> -->
        <!-- </li> -->
        <!-- <li> -->
        <!-- <h5></h5> -->
        <!-- <div class="service_txt"> -->
        <!-- <h4>Products guarantee</h4> -->
        <!-- <p>Products guarantee,Invoice supply</p> -->
        <!-- </div> -->
        <!-- </li> -->
        <!-- <li> -->
        <!-- <h5></h5> -->
        <!-- <div class="service_txt"> -->
        <!-- <h4>Products guarantee</h4> -->
        <!-- <p>Products guarantee,Invoice supply</p> -->
        <!-- </div> -->
        <!-- </li> -->
        <!-- </ul> -->
        <!-- </div> -->
        <!-- <div class="mod_help"> -->
        <!-- <dl> -->
        <!-- <dt>Service Information</dt> -->
        <!-- <dd><a href="#">Shopping process</a></dd> -->
        <!-- <dd><a href="#">Member introduction</a></dd> -->
        <!-- <dd><a href="#">Life travel / group buying</a></dd> -->
        <!-- <dd><a href="#">Common problem</a></dd> -->
        <!-- <dd><a href="#">Big appliances</a></dd> -->
        <!-- <dd><a href="#">Customer service</a></dd> -->
        <!-- </dl> -->
        <!-- <dl> -->
        <!-- <dt>Service Information</dt> -->
        <!-- <dd><a href="#">Shopping process</a></dd> -->
        <!-- <dd><a href="#">Member introduction</a></dd> -->
        <!-- <dd><a href="#">Life travel / group buying</a></dd> -->
        <!-- <dd><a href="#">Common problem</a></dd> -->
        <!-- <dd><a href="#">Big appliances</a></dd> -->
        <!-- <dd><a href="#">Customer service</a></dd> -->
        <!-- </dl> -->
        <!-- <dl> -->
        <!-- <dt>Service Information</dt> -->
        <!-- <dd><a href="#">Shopping process</a></dd> -->
        <!-- <dd><a href="#">Member introduction</a></dd> -->
        <!-- <dd><a href="#">Life travel / group buying</a></dd> -->
        <!-- <dd><a href="#">Common problem</a></dd> -->
        <!-- <dd><a href="#">Big appliances</a></dd> -->
        <!-- <dd><a href="#">Customer service</a></dd> -->
        <!-- </dl> -->
        <!-- <dl> -->
        <!-- <dt>Service Information</dt> -->
        <!-- <dd><a href="#">Shopping process</a></dd> -->
        <!-- <dd><a href="#">Member introduction</a></dd> -->
        <!-- <dd><a href="#">Life travel / group buying</a></dd> -->
        <!-- <dd><a href="#">Common problem</a></dd> -->
        <!-- <dd><a href="#">Big appliances</a></dd> -->
        <!-- <dd><a href="#">Customer service</a></dd> -->
        <!-- </dl> -->
        <!-- <dl> -->
        <!-- <dt>Service Information</dt> -->
        <!-- <dd><a href="#">Shopping process</a></dd> -->
        <!-- <dd><a href="#">Member introduction</a></dd> -->
        <!-- <dd><a href="#">Life travel / group buying</a></dd> -->
        <!-- <dd><a href="#">Common problem</a></dd> -->
        <!-- <dd><a href="#">Big appliances</a></dd> -->
        <!-- <dd><a href="#">Customer service</a></dd> -->
        <!-- </dl> -->
        <!-- <dl> -->
        <!-- <dt>Help center</dt> -->
        <!-- <dd> -->
        <!-- <img src="images/thanks.png" alt="" width="80px" height="80px"> -->
        <!-- Client -->
        <!-- </dd> -->
        <!-- </dl> -->
        <!-- </div> -->
        <div class="mod_copyright">
            <div class="links">
                <a href="#">About us</a> | <a href="#">Contact us</a> | Customer service | Business settlement |
                                         Marketing Center | Mobile phone premium | Links | Sales alliance | Community |
                                         Public welfare | English Site | Contact U
            </div>
            <div class="copyright">
                address：Clsyyds Office, 3rd Floor, Haitang Dormitory No.7, Xidian University postcode：1xxx96
                phone：4xx-6xx-4xxx fax：010-xxxx5100 email: clsyyds@gmai.com <br>
            </div>
        </div>
    </div>
</footer>
<!-- 底部模块的制作 end -->
</body>

</html>
