function Changeitem(id, op,data=null) {
        var res = 0;
        id = parseInt(id);
        let name=null;
        let price=null;
        let num=null;
        let remain=null;
        if(data != null){
            name = data['name'];
            price = data['price'];
            num = data['num'];
            remain = data['remain'];
        }
        $.ajax(
            {
                type: "get",
                url: "/shopping_cart/change",
                async: false,
                data: {
                    'id': id,
                    'op': op,
                    'name':name,
                    'price':price,
                    'num':num,
                    'remain':remain
                },
                dataType: 'json',
                success: function (data) {
                    if (data['state'] == "SUCCESS") {
                        res = 1;
                    } else {
                        console.log(data['errorinfo']);
                    }
                }
            });
        return res;
    }
