<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="ie=edge" http-equiv="X-UA-Compatible">
    <title>Login</title>
    <!-- 引入favicon图标 -->
    <link href="/favicon.png" rel="shortcut icon"/>
    <!-- 引入我们初始化的css -->
    <link href="/css/base.css" rel="stylesheet">
    <!-- 引入我们自己的注册页面的css -->
    <link href="/css/register.css" rel="stylesheet">
    <style>
        .contentbody {
            margin-top: 100px;
        }

        .font {
            font-size: 50px;
            font-style: italic;
            font-weight: bold;
        }

        body {
            margin: 5px;
        }

        .text {
            margin-top: 5px;
        }


    </style>
    <script src="https://cdn.jsdelivr.net/npm/jquery@2.1.4/dist/jquery.min.js"></script>
    <script th:inline="javascript">
        /*<![CDATA[*/
        let phoneAttribute = /*[[${#httpServletRequest.getSession().getAttribute('phone')}]]*/ null;
        let usertypeAttribute = /*[[${#httpServletRequest.getSession().getAttribute('usertypeId')}]]*/ null;
        let cookies = /*[[${#httpServletRequest.getCookies()}]]*/ null;
        /*]]>*/
    </script>
    <script>
        function redirect(data) {
            if (data["status"] === "SUCCESS") {
                if (data["usertype"] === 0 || data["usertype"] === "CUSTOMER") {
                    window.location.href = "home";
                } else if (data["usertype"] === 1 || data["usertype"] === "SELLER") {
                    window.location.href = "seller";
                } else if (data["usertype"] === 2 || data["usertype"] === "ADMIN") {
                    window.location.href = "admin";
                }
            } else {
                alert(data["errorDescription"]);
            }
        }

        function redirectWithSessionCache() {
            if (phoneAttribute != null && usertypeAttribute != null) {
                redirect({
                    status: "SUCCESS",
                    usertype: usertypeAttribute
                });
            }
        }

        function redirectWithCookie() {
            for (let i in cookies) {
                if (cookies.hasOwnProperty(i)) {
                    let cookie = cookies[i];
                    if (cookie.hasOwnProperty('name') && cookie.name === 'usertype') {
                        redirect({
                            status: "SUCCESS",
                            usertype: cookie.value
                        });
                        return;
                    }
                }
            }
        }

        function tryLogin() {
            redirectWithSessionCache();
            redirectWithCookie();
        }

        function login() {
            // if ($.trim($("#phone").val()) == "") {
            //     alert("please input phone");
            // }
            let phone = $("#phone").val();
            let password = $("#password").val();
            let rememberMe = $("#remember_me").prop("checked");
            //发送ajax请求，判断用户名是否存在，然后判断密码是否正确
            //期望返回数据：{"status":"SUCCESS"}
            $.ajax({
                type: "POST",
                url: "/user/login",
                data: {
                    'phone': phone,
                    'password': password,
                    'rememberMe': rememberMe
                },
                dataType: "json",
                success: redirect,
                error: function (data) {
                    alert("Login failed for unknown reasons");
                    console.log(data);
                }
            });
        }

        function reset() {
            document.getElementById("phone").value = null;
            document.getElementById("password").value = null;
            document.getElementById("remember_me").checked = false;
        }

    </script>
</head>

<body onload="tryLogin()">
<div class="w">
    <header>
        <div class="logo">
            <a href="index"> <img alt="" src="../favicon.ico"></a>
        </div>
    </header>
    <div class="registerarea">
        <h3>User Login
            <span class="login">Don't have an account? <a href="register">Register</a></span>
        </h3>
        <div class="reg_form">
            <form action="">
                <ul>
                    <li><label for="phone">Phone：</label> <input class="inp" id="phone" name="phone" type="number">
                        <!-- 要将输入的text进行判断，看用户名是否存在，然后用jquery判断是否显示那个error相关的span标签，下面几个都是如此判断 -->
                        <span class="error" id="error_1"> <i></i></span></li>

                    <li><label for="password">Password：</label> <input class="inp" id="password" name="password"
                                                                       type="password">
                        <span class="error" id="error_2"> <i></i></span></li>

                    <li class="agree" style="position:relative; right:70px;"><label for="remember_me"></label><input
                            id="remember_me"
                            name=""
                            type="checkbox">&nbsp;&nbsp;Remember me on this device
                    </li>
                    <li>
                        <button class="btn" onclick="login()" type="button">Login</button>
                    </li>
                    <li>
                        <button class="btn" onclick="reset()" type="button">Reset</button>
                    </li>
                </ul>
            </form>
        </div>
    </div>
    <footer>
        <div class="mod_copyright">
            <div class="links">
                <a href="#">About us</a> | <a href="#">Contact us</a> | Contact Customer Service
            </div>
            <div>
                <a href="#">If you have any question, please send e-mail to 752016959@qq.com to contact us</a>
            </div>
            <div class="copyright">
                Address：South Campus of Xidian University, Xi'an, Shaanxi Province Postcode：710000

            </div>
        </div>
    </footer>
</div>
</body>

</html>
