<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.3.2/jquery-confirm.min.css">
    <style>
        .contentbody {
            margin-top: 100px;
        }

        .font {

            font-size: 50px;
            font-style: italic;
            font-weight: bold;
        }

        body {
            margin: 5px;
        }

        .text {
            margin-top: 5px;
        }



    </style>
    <title>Register</title>
    <!-- 引入favicon图标 -->
    <link rel="shortcut icon" href="/favicon.ico"/>
    <!-- 引入我们初始化的css -->
    <link rel="stylesheet" href="/css/base.css" type="text/css">
    <!-- 引入我们自己的注册页面的css -->
    <link rel="stylesheet" href="/css/register.css" type="text/css">
    <script src="https://cdn.jsdelivr.net/npm/jquery@2.1.4/dist/jquery.min.js"></script>
    <script>
                //发送ajax请求。期望返回数据：{"userExsit":true,"msg":"Phone has already been registered"}；{"userExsit":false,"msg":"Phone is legal"}
        
        //     $("#password").blur(function () {
        //         //获取文本框的值
        //         var password = $(this).val();
        //         //判断密码格式是否正确
        //         //发送ajax请求。期望返回数据：{"password_format":true,"msg":"Format is correct"}；{"password_format":false,"msg":"Format is error"}
        //         $.get("password_format",{password:password},
        //         function (data) {
        //             //获取error_2元素
        //             var s_possword = $("#error_2");
        //             //判断userExsit值
        //             if (data.userExsit){
        //                 //用户名存在
        //                 s_possword.css("color","red");
                        
        //                 s_possword.html(data.msg);
        //             }else {
        //                 //用户名不存在
        //                 s_possword.css("color","green");
        //                 s_possword.addClass("error_icon")
        //                 s_possword.html(data.msg);
        //             }
        //         },"json");
           
        // });
        $("#confirm").blur(function () {
                //获取文本框的值
                var password_1 = $(this).value;
                //获取上一个文本框中密码
                var password_2=$("#password").value;
                //判断两个密码是否一致
                //发送ajax请求。期望返回数据：{"confirm":true,"msg":"correct"}；{"confirm":false,"msg":"Error! please re-enter!"}
                // $.get("password_confirm",{password1:password_1, password2:password_2},
                // function (data) {
                //     //获取error_3元素
                //     var s_possword = $("#error_3");
                //     //判断userExsit值
                //     if (data.userExsit){
                //         //用户名存在
                //         s_possword.css("color","red");
                        
                //         s_possword.html(data.msg);
                //     }else {
                //         //用户名不存在
                //         s_possword.css("color","green");
                //         s_possword.addClass("error_icon")
                //         s_possword.html(data.msg);
                //     }
                // },"json");
                if(password_1==password_2){
                    $("#confirm").after("<span id='error_3' class='error' >Correct!<i ></i></span></li> ")
                }
                else{
                        //重新输入的密码不正确
                       $("#confirm").after("<span id='error_3' class='error' class='error_icon'>Error! please re-enter <i ></i></span></li> ")
                }
            });                    //注册
        function register() {
                if($("#user").value == ""){
                    alert("please input username");
                }
                else if($("#mail").value == ""){
                    alert("please input email");
                }
                else{
                    var username=$("#username").val()
                    var mail=$("#mail").val()
                    var phone = $("input[name='Phone']").val();
                    var password = $("input[name='password']").val();
                    var confirm=$("#confirm").val()
                    var usertype= $("#usertype").val();
                    var agreement = $("#user_agreement").prop("checked");
                    $.ajax({
                        type: "post",
                        url: "/user/register",
                        data: {
                        'username': username,
                        'phone': phone,
                        'usertype': usertype,
                        'password': password,
                        'confirm': confirm,
                        'mail': mail,
                        'agreementAgreed': agreement
                    },
                    dataType: "json",
                    success: function(data){
                        console.log(data);
                        if(data['status'] == "SUCCESS") {
                            window.location.href="/";
                        } else {
                            alert(data['error_description']);
                        }
                    }
                });
                }
            }

    </script>
</head>

<body>
<div class="w">
    <header>
        <div class="logo">
            <a href="index"> <img src="/images/xdu.png" alt=""></a>
        </div>
    </header>
    <div class="registerarea">
        <h3>New User Registration
            <span class="login">Account already exists? <a href="login">Login</a></span>
        </h3>
        <div class="reg_form">
            <form>
                <ul>
                    <li><label>Phone：</label> <input type="text" name="Phone" id="Phone" class="inp">
                        <!-- 要将输入的text进行判断，看用户名是否存在，然后用jquery判断是否显示那个error相关的span标签，下面几个都是如此判断 -->
                        <span id="error_1" class="error"> <i></i></span></li>
                    <li><label>Username：</label> <input type="text" name="username" id="username" class="inp">
                    <li><label>Mail：</label> <input type="email" name="mail" id="mail" class="inp">
                        <!-- <li><label for="">短信验证码：</label> <input type="text" class="inp">
                            <span class="success"> <i class="success_icon"></i> 短信验证码输入正确 </span></li> -->
                    <li><label>Password：</label> <input type="password" name="password" id="password"
                                                        class="inp">
                        <span id="error_2" class="error"> <i></i></span></li>

                    <!-- <li class="safe">安全程度 <em class="ruo">弱</em> <em class="zhong">中</em> <em class="qiang">强</em> </li> -->
                    <li><label>Confirm：</label> <input type="password" name="confirm" id="confirm" class="inp">

                    <li><label>Type：</label> <select id='usertype'>
                        <option value="0">Customer</option>
                        <option value="1">Seller</option>
                        <option value="Administrator">Administrator</option>
                    </select>
                    </li>

                    <li class="agree"><input type="checkbox" name="" id="user_agreement">
                        Agree to the agreement and register <a href="#">《User Agreement》</a>

                    </li>
                    <li>
                        <button type="button" value="Register" class="btn" onclick="register()">Register</button>
                    </li>
                </ul>
            </form>
        </div>
    </div>
    <footer>
        <div class="mod_copyright">
            <div class="links">
                <a href="#">About us</a> | <a href="#">Contact us</a> | Contact Customer Service

            </div>
            <div class="copyright">
                Address：South Campus of Xidian University, Xi'an, Shaanxi Province Postcode：710000

            </div>
        </div>
    </footer>
</div>
</body>

</html>
