<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="ie=edge" http-equiv="X-UA-Compatible">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.3.2/jquery-confirm.min.css" rel="stylesheet">
    <style>
        .contentbody {
            margin-top: 100px;
        }

        .font {

            font-size: 50px;
            font-style: italic;
            font-weight: bold;
        }

        body {
            margin: 5px;
        }

        .text {
            margin-top: 5px;
        }


    </style>
    <title>Register</title>
    <link href="css/index.css" rel="stylesheet">
    <link href="css/common.css" rel="stylesheet">
    <!-- 引入favicon图标 -->
    <link href="favicon.ico" rel="shortcut icon"/>
    <!-- 引入我们初始化的css -->
    <link href="css/base.css" rel="stylesheet" type="text/css">
    <!-- <link href="/css/base.css" rel="stylesheet" type="text/css"> -->
    <!-- 引入我们自己的注册页面的css -->
    <link href="css/register.css" rel="stylesheet" type="text/css">
    <script src="https://cdn.jsdelivr.net/npm/jquery@2.1.4/dist/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/js/bootstrap.min.js"></script>
    <script>
        $("#confirm").blur(function () {
            //获取文本框的值
            let password_1 = $(this).value;
            //获取上一个文本框中密码
            let password_2 = $("#password").value;
            //判断两个密码是否一致
            if (password_1 === password_2) {
                $("#confirm").after("<span id='error_3' class='error' >Correct!<i ></i></span></li> ")
            } else {
                //重新输入的密码不正确
                $("#confirm").after("<span id='error_3' class='error_icon'>Error! please re-enter <i ></i></span></li> ")
            }
        });
        $("#usertype1").bind("change",function(){
            alert(1);
            var value=$("#usertype1").val();
            console.log(value);
        });                    
        //注册
        function register() {
            if ($("#user").value === "") {
                alert("please input username");
            } else if ($("#mail").value === "") {
                alert("please input email");
            } else {
                let username = $("#username").val();
                console.log(username);
                let mail = $("#mail").val();
                console.log(mail);
                let phone = $("input[name='phone']").val();
                console.log(phone);
                let password = $("input[name='password']").val();
                console.log(password);
                let confirm = $("#confirm").val();
                console.log(confirm);
                let usertype = $("#usertype").val();
                console.log(usertype);
                let Store_name=$("#Store_name").val();
                console.log(Store_name);
                let Address=$("#Address").val()
                console.log(Address);
                if(usertype=="1" && (Store_name=="" || Address=="")){
                    alert("please input Store name and Address")
                }
                //let agreement = $("#user_agreement").prop("checked");
                $.ajax({
                    type: "post",
                    url: "/user/register",
                    data: {
                        'username': username,
                        'phone': phone,
                        'usertype': usertype,
                        'password': password,
                        'confirm': confirm,
                        'mail': mail,
                        //'agreementAgreed': agreement,
                        "shopname":Store_name,
                        "address":Address
                    },
                    dataType: "json",
                    success: function (data) {
                        console.log(data);
                        if (data['status'] === "SUCCESS") {
                            window.location.href = "/";
                        } else {
                            alert(data['errorDescription']);
                        }
                    }
                });
            }
        }

    </script>
</head>

<body>
<div class="w">
    <header>
        <div class="logo">
            <a href="index"> <img alt="" src="images/xdu.png"></a>
        </div>
    </header>
    <div class="registerarea">
        <h3>New User Registration
            <span class="login">Account already exists? <a href="/">Login</a></span>
        </h3>
        <div class="reg_form">
            <form>
                <ul>
                    <li><label for="phone">Phone：</label> <input class="inp" id="phone" name="phone" type="number">
                        <!-- 要将输入的text进行判断，看用户名是否存在，然后用jquery判断是否显示那个error相关的span标签，下面几个都是如此判断 -->
                        <span class="error" id="error_1"> <i></i></span></li>
                    <li><label for="username">Username：</label> <input class="inp"
                                                                       id="username"
                                                                       name="username"
                                                                       type="text">
                    <li><label for="mail">Mail：</label> <input class="inp" id="mail" name="mail" type="email">
                        <!-- <li><label for="">短信验证码：</label> <input type="text" class="inp">
                            <span class="success"> <i class="success_icon"></i> 短信验证码输入正确 </span></li> -->
                    <li><label for="password">Password：</label> <input class="inp" id="password" name="password"
                                                                       type="password">
                        <span class="error" id="error_2"> <i></i></span></li>

                    <!-- <li class="safe">安全程度 <em class="ruo">弱</em> <em class="zhong">中</em> <em class="qiang">强</em> </li> -->
                    <li><label for="confirm">Confirm：</label> <input class="inp"
                                                                     id="confirm"
                                                                     name="confirm"
                                                                     type="password">

                    <li>
                        <label for="usertype">Type：</label>
                        <select id='usertype'>
                            <option value="0">Customer</option>
                            <option value="1">Seller</option>
                            <option value="2">Administrator</option>
                        </select>
                    </li>
                    <li class="agree" style="position:relative; right:120px;"><label for="user_agreement"></label>
                        If you want to register seller,please
                    <!-- <a href="#"><u data-target="#myModal" data-toggle="modal">Click</u></a></li> -->
                    <button data-toggle="modal" data-target="#myModal" type="button"><u>Click </u></button>
                    <div aria-labelledby="myModalLabel" class="modal fade" id="myModal" role="dialog" tabindex="-1">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button aria-label="Close" class="close" data-dismiss="modal" type="button"><span
                                            aria-hidden="true">&times;</span></button>
                                    <h4 class="modal-title" id="myModalLabel">Add Commodity</h4>
                                </div>
                                <div class="modal-body">
                                    <form id="infoTable">
                                        <div class="form-group">
                                            <label for="Store_name">Store name</label>
                                            <input aria-describedby="emailHelp" class="form-control" id="Store_name" type="text">
        
                                        </div>
                                        <div class="form-group">
                                            <label for="Address">Store address</label>
                                            <input class="form-control" id="Address" type="text">
                                        </div>
                        
                                    </form>
                                </div>
        
                                <div class="modal-footer">
                                    <button class="btn btn-default" data-dismiss="modal" type="button">Close</button>
                                    <button class="btn btn-primary" type="button">Save Changes</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <li>
                        <button class="btn" onclick="register()" type="button" value="Register">Register</button>
                    </li>
                </ul>
            </form>
        </div>
    </div>
    <footer>
        <div class="mod_copyright">
            <div class="links">
                <a href="#">About us</a> | <a href="#">Contact us</a> | Contact Customer Service

            </div>
            <div class="copyright">
                Address：South Campus of Xidian University, Xi'an, Shaanxi Province Postcode：710000
            </div>
        </div>
    </footer>
</div>
</body>

</html>
