<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>User List</title>
    <meta content="webkit" name="renderer">
    <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible">
    <meta content="width=device-width, initial-scale=1, maximum-scale=1" name="viewport">
    <link href="/css/layui.css" rel="stylesheet" type="text/css">
    <link href="/css/public.css" rel="stylesheet" type="text/css">
    <script src="/js/layui.js" type="text/javascript"></script>
</head>
<body>
<div class="layuimini-container">
    <div class="layuimini-main">
        <script id="toolbarDemo" type="text/html">
            <div class="layui-btn-container">
                <button class="layui-btn layui-btn-normal layui-btn-sm data-add-btn" lay-event="add"><i
                        class="layui-icon layui-icon-addition"></i>&nbsp;Add
                </button>
                <button class="layui-btn layui-btn-sm layui-btn-danger data-delete-btn" lay-event="delete"><i
                        class="layui-icon layui-icon-delete"></i>&nbsp;Remove Selected
                </button>
            </div>
        </script>
        <table class="layui-hide" id="currentTableId" lay-filter="currentTableFilter"></table>
        <script id="currentTableBar" type="text/html">
            <a class="layui-btn layui-btn-normal layui-btn-xs data-count-edit" lay-event="edit"><i
                    class="layui-icon layui-icon-edit"></i>&nbsp;Edit</a>
            <a class="layui-btn layui-btn-xs layui-btn-danger data-count-delete" lay-event="delete"><i
                    class="layui-icon layui-icon-delete"></i>&nbsp;Remove</a>
        </script>
    </div>
</div>
<br>
<div><a href="/admin">
    <button class="layui-btn layui-btn-sm layui-btn-normal"><i class="layui-icon layui-icon-return"></i>&nbsp;Back
    </button>
</a>&nbsp;&nbsp;<a href="/logout">
    <button class="layui-btn layui-btn-sm layui-btn-danger"><i class="layui-icon layui-icon-logout"></i>&nbsp;Log Out
    </button>
</a>
</div>
<script>
    layui.use(['form', 'table'], function () {
        let $ = layui.jquery,
            layer = layui.layer,
            form = layui.form,
            table = layui.table;

        let mainTable = table.render({
            method: 'POST',
            elem: '#currentTableId',
            url: '/admin/users',
            toolbar: '#toolbarDemo',
            defaultToolbar: ['filter', 'exports', 'print', {
                title: 'Hint',
                layEvent: 'LAYTABLE_TIPS',
                icon: 'layui-icon-tips'
            }],
            cols: [
                [
                    {type: "checkbox", width: 50},
                    {field: 'userid', width: 180, title: 'ID', sort: true},
                    {field: 'username', width: 180, title: 'Username'},
                    {field: 'password', width: 180, title: 'Password'},
                    {field: 'usertype', width: 180, title: 'User Type'},
                    {field: 'phone', width: 180, title: 'Phone Number'},
                    {field: 'mail', width: 180, title: 'Email'},
                    {title: 'Operation', minWidth: 150, toolbar: '#currentTableBar', align: "center"}
                ]
            ],
            limits: [10, 15, 20, 25, 50, 100],
            limit: 15,
            page: true,
            skin: 'line'
        });

        // 监听搜索操作
        form.on('submit(data-search-btn)', function (data) {
            let result = JSON.stringify(data.field);
            layer.alert(result, {
                title: 'Search Result'
            });

            //执行搜索重载
            table.reload('currentTableId', {
                page: {
                    curr: 1
                }
                , where: {
                    searchParams: result
                }
            }, 'data');

            return false;
        });

        /**
         * toolbar监听事件
         */
        table.on('toolbar(currentTableFilter)', function (obj) {
            if (obj.event === 'add') {  // 监听添加操作
                let index = layer.open({
                    title: 'Add User',
                    type: 2,
                    shade: 0.2,
                    maxmin: true,
                    shadeClose: true,
                    area: ['100%', '100%'],
                    content: '/admin/table/add',
                    end: function () {
                        reloadTable(mainTable);
                    }
                });
                $(window).on("resize", function () {
                    layer.full(index);
                });
            } else if (obj.event === 'delete') {  // 监听删除操作
                let checkStatus = table.checkStatus('currentTableId')//即为当前table id 对应的值
                    , data1 = checkStatus.data;
                $.ajax({
                    type: "post",
                    url: "/admin/remove-users",
                    contentType: "application/json; charset=UTF-8",
                    data: JSON.stringify(data1),
                    dataType: "json",
                    success: function (data) {
                        let success = data['success'] === true;
                        let msg = data['msg'];
                        let index = layer.alert(msg, {
                            title: success ? "Success!" : "Failed!"
                        }, function () {
                            // 关闭弹出层
                            layer.close(index);
                            let iframeIndex = parent.layer.getFrameIndex(window.name);
                            parent.layer.close(iframeIndex);
                            reloadTable(mainTable);
                        });
                    }
                });
            }
        });

        //监听表格复选框选择
        table.on('checkbox(currentTableFilter)', function (obj) {
        });

        table.on('tool(currentTableFilter)', function (obj) {
            let data = obj.data;
            if (obj.event === 'edit') {

                let index = layer.open({
                    title: 'Edit User',
                    type: 2,
                    shade: 0.2,
                    maxmin: true,
                    shadeClose: true,
                    area: ['100%', '100%'],
                    content: '/admin/table/edit',
                    success: function (layer, index) {
                        let iframe = window['layui-layer-iframe' + index];
                        iframe.child(data)
                    },
                    end: function () {
                        reloadTable(mainTable);
                    }
                });
                $(window).on("resize", function () {
                    layer.full(index);
                });
                return false;
            } else if (obj.event === 'delete') {
                layer.confirm('Do you really want to delete this row?', function (index) {
                    $.ajax({
                        type: "post",
                        url: "/admin/remove-user",
                        data: {userId: obj.data.userid},
                        dataType: "json",
                        success: function (data) {
                            let success = data['success'] === true;
                            let msg = "Successly removed user.";
                            if (!success) {
                                msg = "Remove failed!";
                            }
                            let index = layer.alert(msg, {
                                title: success ? "Success!" : "Failed!"
                            }, function () {

                                // 关闭弹出层
                                layer.close(index);
                                let iframeIndex = parent.layer.getFrameIndex(window.name);
                                parent.layer.close(iframeIndex);
                                obj.del();

                            });
                        }
                    });
                    layer.close(index);
                });
            }
        });

    });

    function reloadTable(table) {
        table.reload({
            page: {
                curr: 1 //重新从第 1 页开始
            }
            , where: {}
        });
    }

</script>
</body>
</html>