<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>User List</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" href="/css/layui.css" media="all">
    <link rel="stylesheet" href="/icon/iconfont.css" media="all">
    <link rel="stylesheet" href="/css/public.css" media="all">
    <link rel="stylesheet" href="/js/css/modules/layer/default/layer.css" media="all">
    <script type="text/javascript" src="/js/layui.js"></script>
</head>
<body>
<div class="layuimini-container">
    <div class="layuimini-main">
        <script type="text/html" id="toolbarDemo">
            <div class="layui-btn-container">
                <button class="layui-btn layui-btn-normal layui-btn-sm data-add-btn" lay-event="add">Add</button>
                <button class="layui-btn layui-btn-sm layui-btn-danger data-delete-btn" lay-event="delete">Delete
                </button>
            </div>
        </script>
        <table class="layui-hide" id="currentTableId" lay-filter="currentTableFilter"></table>
        <script type="text/html" id="currentTableBar">
            <a class="layui-btn layui-btn-normal layui-btn-xs data-count-edit" lay-event="edit">Edit</a>
            <a class="layui-btn layui-btn-xs layui-btn-danger data-count-delete" lay-event="delete">Delete</a>
        </script>
    </div>
</div>
<script type="text/javascript" src="/js/layui.js"></script>
<script>
         layui.use(['form', 'table'], function () {
             var $ = layui.jquery,
                 layer = layui.layer,
                 form = layui.form,
                 table = layui.table;

             table.render({
                 method: 'POST',
                 elem: '#currentTableId',
                 url: '/admin/users',
                 toolbar: '#toolbarDemo',
                 defaultToolbar: ['filter', 'exports', 'print', {
                     title: 'Hint',
                     layEvent: 'LAYTABLE_TIPS',
                     icon: 'layui-icon-tips'
                 }],
                 cols: [
                     [
                         {type: "checkbox", width: 50},
                         {field: 'userid', width: 180, title: 'ID', sort: true},
                         {field: 'username', width: 180, title: 'Username'},
                         {field: 'password', width: 180, title: 'Password'},
                         {field: 'usertype', width: 180, title: 'User Type'},
                         {field: 'phone', width: 180, title: 'Phone Number'},
                         {field: 'mail', width: 180, title: 'Email'},
                         {title: 'Operation', minWidth: 150, toolbar: '#currentTableBar', align: "center"}
                     ]
                 ],
                 limits: [10, 15, 20, 25, 50, 100],
                 limit: 15,
                 page: true,
                 skin: 'line'
             });

             // 监听搜索操作
             form.on('submit(data-search-btn)', function (data) {
                 var result = JSON.stringify(data.field);
                 layer.alert(result, {
                     title: 'Search Result'
                 });

                 //执行搜索重载
                 table.reload('currentTableId', {
                     page: {
                         curr: 1
                     }
                     , where: {
                         searchParams: result
                     }
                 }, 'data');

                 return false;
             });

             /**
              * toolbar监听事件
              */
             table.on('toolbar(currentTableFilter)', function (obj) {
                 if (obj.event === 'add') {  // 监听添加操作
                     var index = layer.open({
                         title: 'Add User',
                         type: 2,
                         shade: 0.2,
                         maxmin: true,
                         shadeClose: true,
                         area: ['100%', '100%'],
                         content: '/admin/table/add',
                     });
                     $(window).on("resize", function () {
                         layer.full(index);
                     });
                 } else if (obj.event === 'delete') {  // 监听删除操作
                     var checkStatus = table.checkStatus('currentTableId')//即为当前table id 对应的值
                         , data = checkStatus.data;
                     layer.alert(JSON.stringify(data));
                 }
             });

             //监听表格复选框选择
             table.on('checkbox(currentTableFilter)', function (obj) {
                 console.log(obj)
             });

             table.on('tool(currentTableFilter)', function (obj) {
                 var data = obj.data;
                 if (obj.event === 'edit') {

                     var index = layer.open({
                         title: 'Edit User',
                         type: 2,
                         shade: 0.2,
                         maxmin: true,
                         shadeClose: true,
                         area: ['100%', '100%'],
                         content: '/admin/table/edit',
                         success: function(layero, index) {
                         var iframe = window['layui-layer-iframe' + index];
                             iframe.child(data)
                         }
                     });
                     $(window).on("resize", function () {
                         layer.full(index);
                     });
                     return false;
                 } else if (obj.event === 'delete') {
                     layer.confirm('Do you really want to delete this row?', function (index) {
                        $.ajax({
                            type: "post",
                            url: "/admin/remove-user",
                            data: {userId: obj.data.userid},
                            dataType: "json",
                            success: function(data) {
                                var success = data['success'] == true;
                                var msg = "Success!";
                                if (!success) {
                                    msg = "Remove failed!";
                                }
                                var index = layer.alert(msg, {
                                    title: 'Remove User'
                             }, function() {

                             // 关闭弹出层
                             layer.close(index);

                             obj.del();

                             var iframeIndex = parent.layer.getFrameIndex(window.name);
                             parent.layer.close(iframeIndex);

                         });
                     }
                            });
                         layer.close(index);
                     });
                 }
             });

         });

</script>
</body>
</html>